@import "tailwindcss";

body {
  margin: 0;
}

@theme {
      --color-primary: '#0288D1',
      --color-primary-800: '#013856',
      --color-text: '#828282',
      --color-white: '#fff',
      --color-gradient:linear-gradient(90deg, #0288D1 0%, #013856 100%);
}
